{% extends 'base.html' %}
{% load static %}
{% block title %}Carrinho{% endblock %}

{% block content %}
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Produto</th>
                                            <th>Preço</th>
                                            <th>Quantidade</th>
                                            <th>Cor</th>
                                            <th>Remover</th>
                                        </tr>
                                    </thead>
									{% for item in carrinho %}										
										<tbody class="align-middle">
											<tr class="carttr">
												<td style="vertical-align: middle;">
													<div class="img">
														<a href="/detalhesproduto/{{item.produto.id}}"><img class="imgcart" src="{{item.produto.imagem.url}}" alt="Image"></a>
														<p>{{item.produto.nome}}</p>
													</div>
												</td>
												<td style="vertical-align: middle;">R$ {{item.produto.preco}}</td>
												<td style="vertical-align: middle;">
													<div class="row">
														<a href="/subtraiitemcarrinho/{{item.id}}" class="margembtn"><i class="fa fa-minus"></i></a>
														<input class= "inputcart" type="text" value="{{item.quantidade}}" style="text-align: center;" disabled="">
														<a href="/acrescentaitemcarrinho/{{item.id}}" class="margembtn"><i class="fa fa-plus"></i></a>

													</div>
												</td>
												<td style="vertical-align: middle;">{{item.cor.cor}}</td>
												<td style="vertical-align: middle;"><span><a href="/deletaitemdocarrinho/{{item.id}}"><i style="color: rgb(84, 83, 83);" class="fas fa-trash fa-2x"></i></a></span></td>
											</tr>
										</tbody>
									{% endfor %}
                                </table>
							{% if vazio == True %}
								<h3 style="text-align: center;margin-top: 3rem;">Seu carrinho está vazio</h3>
							{% endif %}
                            </div>
                        </div>

					</div>
					<br>
					<!-- Order Details -->
					{% if vazio != True %}
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Itens do Carrinho</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUTO</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								{% for produto in produtos %}
									
									<div class="order-col">
										<div>{{produto.0}}x {{produto.1}}</div>
										<div>R$ {{produto.2}}</div>
									</div>
								{% endfor %}
							</div>
							<!--<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>-->
                            <hr>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">${{total}}</strong></div>
							</div>
						</div>
						<a href="/subtotal" class="primary-btn order-submit">Finalizar Pedido</a>
					</div>
					{% endif %}
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
    {% endblock %}